$def with (datos)
<h1>Tablas</h1>
    <table>
        <thead>
            <th style="border: 1px solid black;">No.
            </th>
            <th style="border: 1px solid black;">Nombre
            </th>
        </thead>
        <tbody>
            $for i,x in datos:
                <tr>
                    <td style="text-align: center; background-color: salmon; border: 1px solid black;">$i</td>
                    <td style="text-align: center; background-color: pink; border: 1px solid black;">$x</td>
                </tr>
        </tbody>

    </table>