
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/dis.css" rel="stylesheet" type="text/css">
    <title>Formulario</title>
</head>
<body>
    <h1>Operaciones</h1>
    <form method="POST">
        <label>Ingresa un numero: </label><br>
        <input type="number" id="nombre2" name="n1" required><br>
        <label>Ingresa otro numero: </label><br>
        <input type="number" id="nombre2" name="n2" required><br>
        <br>
        <button class="button_a" type="submit" value="sumar" name="operacion">+</button>
        <button class="button_a" type="submit" value="restar" name="operacion">-</button><br>
        <button class="button_b" type="submit" value="multiplicar" name="operacion">*</button>
        <button class="button_b" type="submit" value="dividir" name="operacion">/</button>
    </form>
    
</body>
</html>